.header {
    height: 200px;
    width: 100%;
    background-color: #0D0D0D;
    
}

.container {
    z-index: 2;
    position: absolute;
    width: 90%;
    max-width: 736px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .logo-section{
        height: 173px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-todo-section {
        display: grid;
        grid-template-columns: 9fr 1.4fr;
        column-gap: 10px;
        margin-bottom: 64px;
    }
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: rgb(68, 68, 68);
    img {
        width: 80px;
    }
}

footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 90%;
    color: #8284FA;
    p:first-child {
        color: #4EA8DE;
    }
}






@media screen and (min-width: 950px) {
    .container {
        width: 60%;
    }
}
@media screen and (max-width: 500px) {
    .empty {
        font-size: 25px;
    }
}
@media screen and (max-width: 395px) {
    .empty {
        font-size: 20px;
    }
    footer {
        display: block;
        margin-left: 50%;
        transform: translateX(-90%);
    }
}